// Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

$primary: hsl(238, 29%, 16%); // primary?
$accent: hsl(14, 88%, 65%); // accent?

$text-grey-dark: hsl(237, 12%, 33%);
$text-grey-light: hsl(240, 6%, 50%);

$light-grey-blue: hsl(240, 5%, 91%) // divider color
