.faqs-container {
  background-color: #fff;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 90rem;
  height: 100%;

  @include respond(tab-port) {
    display: grid;
    align-self: center;
    padding: 0 2rem;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

}

.right-side {

  grid-column: 2 / 3;
  margin-right: 6rem;
  padding: 8rem 0;

  @include respond(tab-port) {
    grid-column: 1 / 2;
    margin-right: 0;
    padding: 0;
  }

}

.left-side {
  grid-column: 1 / 2;

  @include respond(tab-port) {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
