.faq-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
  justify-items: center;
  border-radius: 2px;
  overflow: hidden;
  padding: 2rem 0 2rem 0;

  @include respond(tab-port) {

  }

  &:hover {
    cursor: pointer;
  }

  &__icon {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 2px;
    &--arrow {
      transform: scale(1);
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    color: $primary;
    font-weight: $font-weight-normal;
    font-size: 1.2rem;

  }

  &__answer {
    color: $text-grey-light;
    font-weight: $font-weight-normal;
    font-size: 1.1rem;
    padding-right: 3.5rem;

  }

  &__divider {
    width: 100%;
    border-bottom: solid rgba($light-grey-blue, 1) 1px;
  }

}


