.faqs-container {
  background-color: #fff;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 90rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.right-side {

    grid-template-columns: 2 / 3;
  margin-right: 6rem;
  padding: 8rem 0;
}

.left-side {
  grid-template-columns: 1 / 2;
  position: relative;

}
