.faqs-box {
  overflow: hidden;

  @include respond(tab-port) {
    padding-bottom: 5rem;
  }



  &__title {
    display: inline-block;
    margin-bottom: 2.5rem;
    font-size: 3.3rem;

    @include respond(tab-port) {
      display: inline-block;
      margin-bottom: 1.5rem;
      font-size: 2.8rem;
      text-align: center;
    }
  }

  &__title--box {

    @include respond(tab-port) {
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
    }

  }
}
